* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(124.13deg, #F4CB38 10.97%, #F4A938 77.98%);
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#score {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

canvas {
    display: block;
    margin: 0 auto;
}